<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symboling</th>
      <th>BodyStyle</th>
      <th>CityMPG</th>
      <th>HighwayMPG</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>Make</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>chevrolet</th>
      <td>1</td>
      <td>hatchback</td>
      <td>38</td>
      <td>43</td>
      <td>6295.0</td>
    </tr>
    <tr>
      <th>dodge</th>
      <td>1</td>
      <td>hatchback</td>
      <td>37</td>
      <td>41</td>
      <td>5572.0</td>
    </tr>
    <tr>
      <th>honda</th>
      <td>1</td>
      <td>hatchback</td>
      <td>38</td>
      <td>42</td>
      <td>5399.0</td>
    </tr>
    <tr>
      <th>plymouth</th>
      <td>1</td>
      <td>hatchback</td>
      <td>37</td>
      <td>41</td>
      <td>5572.0</td>
    </tr>
    <tr>
      <th>toyota</th>
      <td>0</td>
      <td>hatchback</td>
      <td>38</td>
      <td>47</td>
      <td>7788.0</td>
    </tr>
  </tbody>
</table>