<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symboling</th>
      <th>BodyStyle</th>
      <th>CityMPG</th>
      <th>HighwayMPG</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>Make</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>alfa-romero</th>
      <td>3</td>
      <td>convertible</td>
      <td>21</td>
      <td>27</td>
      <td>13495.0</td>
    </tr>
    <tr>
      <th>alfa-romero</th>
      <td>3</td>
      <td>convertible</td>
      <td>21</td>
      <td>27</td>
      <td>16500.0</td>
    </tr>
    <tr>
      <th>porsche</th>
      <td>3</td>
      <td>convertible</td>
      <td>17</td>
      <td>25</td>
      <td>32528.0</td>
    </tr>
    <tr>
      <th>porsche</th>
      <td>3</td>
      <td>convertible</td>
      <td>17</td>
      <td>25</td>
      <td>34028.0</td>
    </tr>
    <tr>
      <th>porsche</th>
      <td>3</td>
      <td>convertible</td>
      <td>17</td>
      <td>25</td>
      <td>37028.0</td>
    </tr>
    <tr>
      <th>volkswagen</th>
      <td>3</td>
      <td>convertible</td>
      <td>24</td>
      <td>29</td>
      <td>11595.0</td>
    </tr>
  </tbody>
</table>